*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(to right bottom, #4f74c4, #6e6cf0); 
}

.container{
  margin: 4% auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper{
  background-color: #497e8a;
  min-width: 26em;
  min-height: 40em;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #000;
  margin-bottom: 10px;
}

.header h1 {
  color: #fff;
  text-align: center;
  margin: 30px 0;
}

.task-input{
  outline: none;
  width: 260px;
  padding: 15px;
  margin-right: 25px;
  font-size: 20px;
  color: #ccc;
  background-color: #000000;
  border: 1px solid #fff;
  border-radius: 10px;
}

.button-add{
  width: 70px;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  background-color: #f1af71;
  cursor: pointer;
}

.list-item{
  display: flex;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

.button-complete, .button-delete, .button-edit{
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  border-radius: 50%;
}

.button-complete{
  color : #5ebd7e;
  margin-right: 10px;
}

.button-edit{
  color: #e9e8de;
  margin-right: 5px;
}

.button-delete{
  color: rgb(16, 18, 19);
}

.complete{
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: #181717;
  opacity: 0.6;
}

.icon{
position: relative;
left: 3px;
}

.list {
  width: 250px;
  background-color: #12343b;
  border: none;
  color: #ccc;
  font-size: 15px;
  padding: 10px;
  margin-right: 15px;
  border-radius: 10px;
  overflow: auto;
  height : 50px;
}

textarea{
  resize: none;
}

input:focus, button:focus{
  outline: none;
}

.scrolltodolist{
  overflow: auto; 
  height:400px;
}

::-webkit-scrollbar {
  width: 10px;
  padding-left: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(15, 15, 15); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.todoform{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}


@media (max-width: 450px) {

  .app-wrapper{  
    margin-top: 5%;  
    min-width: 6em;
    min-height: 6em;  
    padding: 1em;
  }
  
  .task-input{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon i{
    font-size: 1em;
  }
}